<a href="https://colab.research.google.com/github/20210558-cell/Homework_2025/blob/main/103set_clear_104dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
set1 = set('abradacabra')
set2 = set('arirangsong')
set1 &= set2
set2.clear()
print(f'set1={set1}, set2={set2}')

set1={'a', 'r'}, set2=set()

In [ ]:
population = {'서울':9407540, '부산':3320276, '인천':2964820}

In [ ]:
population = dict(서울=9407540, 부산=3320276, 인천=2964820)
print(population)

{'서울': 9407540, '부산': 3320276, '인천': 2964820}

In [ ]:
population = dict([('서울',407540),('부산',3320276),('인천',2964820)])
print(population)

{'서울': 407540, '부산': 3320276, '인천': 2964820}