<a href="https://colab.research.google.com/github/20210558-cell/Homework_2025/blob/main/105d_key_106d_get.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
population = {'서울':9407540, '부산':3320276, '인천':2964820}
pnum = population['서울']
print(f'2022년 기준 서울의 인구는 {pnum:,d}명 입니다.')

2022년 기준 서울의 인구는 9,407,540명 입니다.

In [ ]:
orddict = {97:'a', 98:'b', 99:'c'}
print(f'ASCII 코드 97은 문자 {orddict[97]}에 대응됩니다.')

ASCII 코드 97은 문자 a에 대응됩니다.

In [ ]:
ret = orddict[95]

KeyError: 95

In [ ]:
names = {'Mary':10999, 'Cris':2111, 'Aimy':9778, 'Tom':20245}
ret1 = names.get('Cris')
ret2 = names.get('Sams')
print(f'ret1 = {ret1}, ret2 = {ret2}')

ret1 = 2111, ret2 = None

In [ ]:
ret1 = names.get('Cris', 0)
ret2 = names.get('Sams', 0)
print(f'ret1 = {ret1}, ret2 = {ret2}')

ret1 = 2111, ret2 = 0