<a href="https://colab.research.google.com/github/20210558-cell/Homework_2025/blob/main/107list_108d_key_val.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
names = {'Mary':10999, 'Ceis':2111, 'Aimy':9778, 'Tom':20245}
nameList = list(names)
print(nameList)

['Mary', 'Ceis', 'Aimy', 'Tom']

In [ ]:
nameList = ['Mary', 'Cris', 'Aimy', 'Tom', 'Bob']
population = [10999, 2111, 9778, 20245, 27115]
names = { }       # 빈 딕셔너리 정의
for k, v in zip(nameList, population):
  names[k] = v
  print(names)

{'Mary': 10999}
{'Mary': 10999, 'Cris': 2111}
{'Mary': 10999, 'Cris': 2111, 'Aimy': 9778}
{'Mary': 10999, 'Cris': 2111, 'Aimy': 9778, 'Tom': 20245}
{'Mary': 10999, 'Cris': 2111, 'Aimy': 9778, 'Tom': 20245, 'Bob': 27115}

In [ ]:
names['Mary'] = 20000
print(names)

{'Mary': 20000, 'Cris': 2111, 'Aimy': 9778, 'Tom': 20245, 'Bob': 27115}