<a href="https://colab.research.google.com/github/20210558-cell/Exercise_2025/blob/main/4variable_5annotation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
_myname = 'samsjang'
my_name='홍길동'
MyName3='Hong Gil-dong'
country='대한민국'

In [ ]:
### 주석처리 예시
### 만든 날짜: 2024.12.30

a = 1         # a에 1을 할당
b = 5         # b에 5를 할당
print(a+b)    # a+b의 값을 출력

6

In [ ]:
comment = 'Result ='
# 삼중 따옴표로 특정 영억 주석 처리 예시
"""a = 1
b = 100
print(a+b)"""
a = 5
b = 50
print(comment, a+b)

Result = 55