<a href="https://colab.research.google.com/github/20210558-cell/Exercise_2025/blob/main/58list_remove_59list_clear.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers = [1, 1, 3, 1, 1, 5, 6, 2, 0, 7]
if 1 in numbers:
  numbers.remove(1)
print(numbers)

[1, 3, 1, 1, 5, 6, 2, 0, 7]

In [ ]:
numbers = [1, 1, 3, 1, 1, 5, 6, 2, 0, 7]
while 1 in numbers:
  numbers.remove(1)
print(numbers)

[3, 5, 6, 2, 0, 7]

In [ ]:
fruits = ['사과', '배', '오렌지', '수박', '참외']
fruits.remove('딸기')

ValueError: list.remove(x): x not in list

In [ ]:
fruits = ['사과', '배', '오렌지', '수박', '참외']
fruits.clear()
print(fruits)

[]

In [ ]:
fruits = ['사과', '배', '오렌지', '수박', '참외']
del fruits[:]
print(fruits)

[]